<div id="modulo-contenedor" >
  <md-content layout-padding layout-wrap>
      <div layout="row" layout-wrap>
        <md-input-container flex="50" flex-sm="100">
          <md-icon md-svg-icon="email" class="email"></md-icon>
          <input ng-model="usuario.email" placeholder="Email" type="email" ng-required="true">
          <div ng-messages="validacion.email" >
            <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
            <div ng-message="email">{{'EMAIL_INVALIDO' | translate}}</div>
          </div>
        </md-input-container>
        <div flex="50" flex-sm="100" layout="row" layout-wrap flex>
          <div flex="100">
            <md-subheader class="md-primary md-hue-1">
              Tipos de Clues Asignadas
            </md-subheader>
          </div>
          <div flex="33" ng-repeat="tipo in tipos_clues">
            <md-checkbox ng-checked="existsTipoClues(tipo, usuario.tipos_clues)" ng-click="toggleTipoClues(tipo, usuario.tipos_clues)">
              {{ tipo.nombre }}
            </md-checkbox>
          </div>
        </div>
      </div>
  </md-content>
</div>
<md-content style="overflow:visible;">
  <md-chips ng-model="usuario.roles" ng-click="cargarPermisos($event)" md-autocomplete-snap md-require-match>
    <md-autocomplete
        md-selected-item="selectedItem"
        md-search-text="searchText"
        md-items="item in querySearch(searchText)"
        md-item-text="item.nombre"
        md-no-cache="true"
        placeholder="Buscar roles">
      <span md-highlight-text="searchText">{{item.nombre}}</span>
      <md-not-found>
      No hay resultados para la búsqueda.
     </md-not-found>
    </md-autocomplete>
    <md-chip-template>
      <span>
        <strong>{{$chip.nombre}}</strong>
      </span>
    </md-chip-template>
  </md-chips>
</md-content>
<md-content>
    <section ng-repeat="grupo in permisos">
      <md-subheader class="md-accent md-hue-1"><b>{{grupo.nombre}}</b></md-subheader>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="permiso in grupo.permisos">
          <div class="md-list-item-text" layout="column">
            <h3><b>{{ permiso.clave }}</b></h3>
            <p>{{ permiso.descripcion }}</p>
          </div>
        </md-list-item>
      </md-list>
    </section>
</md-content>